<% include ../../header_footer/header %>
<div class="row mt-2 bg-light">
    <a class="d-flex align-items-center btn btn-light text-dark" href="/blogpost">
        <i class="far fa-arrow-alt-circle-left fa-3x text-dark pr-2"></i>Go Back</a>
</div>
<h2 class="text-center">Create new journey</h2>
<div class="d-flex justify-content-center">
    <form action="/blogpost/travel/<%=currentUser._id%>?_method=PUT" method="POST" class="text-center w-50">
        <div class="form-group">
            <label for="formGroupExampleInput">title</label>
            <input type="text" class="form-control" name="travel[title]">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">author</label>
            <input type="text" class="form-control" value="<%=foundInfo.firstname%>">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Body</label>
            <textarea class="form-control h-50" name="travel[body]"></textarea>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Picture</label>
            <input type="text" class="form-control" name="travel[picture]">
        </div>
        <button type="submit" class="btn btn-light btn-lg">Create</button>
    </form>
</div>





<% include ../../header_footer/footer %>